html {
	font-family: "edita", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
}

h1 {
	font-size: 1.625rem;
	line-height: 120%;
	font-family: "proxima-nova", sans-serif;
}

p {
	font-size: 1.25rem;
}

a {
	color: #0279B6;
	text-decoration: none;
}

p.small {
	font-size: 0.825rem;
}

.container {
	display: flex;
	display: -webkit-flex;
  	flex-flow: row wrap;
  	-webkit-flex-flow: row wrap;
  	align-items: stretch;
}
.copy, .photo {
	flex: 1 100%;
	-webkit-flex: 1 100%;
}
.copy {
	padding: 5% 8%;
}
.photo {
	height: 350px;
	background-image: url("../img/toryhobson.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-position: right 20%;

}

ul.social {
	margin: 30px 0;
	padding: 0;
	text-align: center;
}

ul.social li{
	display: inline-block;
}

ul.social li svg {
	width: 40px;
}



@media all and (min-width: 768px) {
	html {
		font-size: 20px;
	}
	p {
		font-size: 1rem;
	}
	.photo {
		height: 600px;
	}
	ul.social li svg {
		width: 60px;
	}
}

@media all and (min-width: 1024px) {
	html {
		font-size: 22px;
	}
	.copy {
		padding: 3% 5% 2%;
		overflow: scroll;
	    position: absolute;
	    left: 0;
	    top: 0;
	    bottom: 0;
	    color: #151515;
	    background: #FFF;
	    width: 30%;
	}
	.photo {

		height: 100vh;
		overflow: hidden;
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    width: 70%;
	}
}

@media all and (min-width: 1280px) {
	html {
		font-size: 23px;
	}
}

@media all and (min-width: 1920px) {
	html {
		font-size: 28px;
	}
	.copy {
		padding: 4% 5% 2%;
	}
}
