h1 {
	font-family: "soleil", sans-serif;
}

p {
	font-family: "edita", sans-serif;
}

.container {
	display: flex;
	display: -webkit-flex;
  	flex-flow: row wrap;
  	-webkit-flex-flow: row wrap;
  	align-items: stretch;
}
.copy, .photo {
	flex: 1 100%;
	-webkit-flex: 1 100%;
}
.copy {
	background-color: #ccc;
}
.photo {
	height: 400px;
	background-image: url(https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/0dd/140/2a27247.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 50% 50%;
}

@media all and (min-width: 768px) {
	.photo {
		height: 600px;
	}
}

@media all and (min-width: 1024px) {
	.copy {
		flex: 1 0px;
		-webkit-flex: 1 0px;
		order: 1;
		-webkit-order: 1;
		padding: 5% 5% 10%;
	}
	.photo {
		flex: 2 0px;
		-webkit-flex: 2 0px;
		order: 2;
		-webkit-order: 2;
		height: 100vh;
	}
}

