html {
	font-family: "edita", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
}
.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
h1, h2, h3, h4, h5, h6 {
	font-family: "proxima-nova", sans-serif;
}

h1 {
	font-size: 1.625rem;
	line-height: 120%;
}
h1.portfolio {
	text-align: center;
	margin-bottom: 0;
}
h2 {
	font-size: 1.25rem;
	line-height: 120%;
	margin-top: 100px;
}
h3 {
	font-size: 1.125rem;
	color: #666;
}
h4 {
	margin: 40px 0 20px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #ccc;
	font-size: 16px;
}
.portfolio {
	text-align: center;
}

p {
	font-size: 1.2rem;
}

a {
	color: #0279B6;
	text-decoration: none;
}

p.small {
	font-size: 0.825rem;
}
p.date {
	text-align: center;
	color: #ccc;
	margin: 5px 0 40px;
	font-size: 16px;
}

.container {
	display: flex;
	display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  align-items: stretch;
}
.copy, .photo {
	flex: 1 100%;
	-webkit-flex: 1 100%;
}
.copy {
	padding: 5% 8%;
}
.photo {
	height: 350px;
	background-image: url("../img/toryhobson.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-position: right 20%;

}

ul.social {
	margin: 30px 0;
	padding: 0;
	text-align: center;
}

ul.social li{
	display: inline-block;
}

ul.social li svg {
	width: 40px;
}

ul.areas {
	margin: 0;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
}

.main-project-photo {
	width: 80%;
	margin: 0 auto;
	display: block;
}



@media all and (min-width: 768px) {
	html {
		font-size: 20px;
	}
	p {
		font-size: 1rem;
	}
	.photo {
		height: 600px;
	}
	ul.social li svg {
		width: 60px;
	}
	.prototype {
		margin: 100px 0 0 0;
	}
	.prototype video {
		float: right;
		margin-left: 40px;
	}
}

@media all and (min-width: 1024px) {
	html {
		font-size: 22px;
	}
	.copy {
		padding: 3% 5% 2%;
		overflow: scroll;
	    position: absolute;
	    left: 0;
	    top: 0;
	    bottom: 0;
	    color: #151515;
	    background: #FFF;
	    width: 30%;
	}
	.photo {
		height: 100vh;
		overflow: hidden;
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    width: 70%;
	}
	ul.areas {
		margin: 0 5% 40px;
		padding: 0;
		width: 40%;
		float: left;
	}
}

@media all and (min-width: 1280px) {
	html {
		font-size: 23px;
	}
	p.big-text {
		font-size: 28px;
	}
}

@media all and (min-width: 1920px) {
	html {
		font-size: 28px;
	}
	.copy {
		padding: 4% 5% 2%;
	}
}
