/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif;
}
body{
	color: #000;
}
body.dark-theme{
	color: #999;
	background-color: #333;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.625rem;
}
h3 {
	font-size: 1.375rem;
}
p, ul.text {
	font-size: 1rem;
	line-height: 1.5rem;
	margin: 1.5rem 0;
}
@media (min-width: 600px){
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 2.25rem;
	}
	h3 {
		font-size: 1.75rem;
	}
	p, ul.text {
		font-size: 1.3125rem;
		line-height: 2rem;
		margin: 2rem 0;
	}
}

ul.text li {
	margin: 1.5rem 0;
	position: relative;
  padding-left: 2rem;
}

ul.text li:before {
	content: "";
  border-radius: 50%;
  border: 2px solid #19B5FE;
  width: 6px;
  height: 6px;
  display: block;
  position: absolute;
  top: 11px;
  left: 0;
  background-color: #19B5FE;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	color: #19B5FE;
}
p a, ul.text li a {
	border-bottom: 2px solid #eee;
}

a:hover{
	opacity: 0.9;
}

a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #19B5FE;
	font-weight: 800;
	text-align: center;
}

hr{
	width: 160px;
	height: 4px;
	background-color: #19B5FE;
	border: 0;
	margin: 2rem auto;
}


.gray {
	background-color: #f6f6f6;
}


ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/*-------------
 	Grid
-------------*/
section {
	padding: 4rem 1rem;
}

.container-960{
	max-width: 960px;
	margin: 0 auto;
}

.container-1280{
	max-width: 1280px;
	margin: 0 auto;
}

.flex-grid {
  display: block;
}
.col {
  margin: 2rem;
  flex: auto;
}


@media (min-width: 600px) {
  .flex-grid {
    display: flex;
  }
  .col {
    margin: 2rem;
  }
  .full {
    flex: 1;
  }
  .one-two {
    flex: 1;
  }
  .one-three {
    flex: 1;
  }
  .two-three {
    flex: 2;
  }
  .one-four {
    flex: 1;
		background-color: #fff;
		height: 200px;
		padding: 1rem;
  }
  .two-four {
    flex: 2;
  }
  .three-four {
    flex: 2;
  }
}

/*-------------
 	Header
-------------*/

header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}



header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;
}

header nav li:last-child{
	margin-right: 0;
}



@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		flex-direction: column;
	}
}



/*----------------
 	Hero Section
----------------*/

.hero{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
	padding-top: 40vh;
}

.short {
	background-color: #f6f6f6;
	color: #000;
	min-height: 50vh;
}

.hero .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #2196F3;
	z-index: -1;
}

.hero .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;
}



.hero a.btn{
	padding: 20px 46px;
}

@media (max-width: 800px){

	.hero{
		min-height: 600px;
	}

}



/*--------------------
 	Our Work Section
---------------------*/

.оur-work{
	background-color: #fff;
}

.grid li{
	padding: 1rem;
	height: 350px;
	border-radius: 3px;

	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: #333;
}

.grid li.small{
	flex-basis: 40%;
}

.grid li.large{
	flex-basis: 60%;
}


@media (max-width: 1000px){

	.our-work .grid li.small,
	.our-work .grid li.large{
		flex-basis: 100%;
	}

}



/*----------------------
 	Features Section
----------------------*/

.features{
	background-color: #f7f7f7;
}

.features .grid li{
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}

.features .grid li i{
    font-size: 50px;
    color: #2196F3;
    margin-bottom: 25px;
}

.features .grid li p{
    margin: 0;
}

@media (max-width: 1000px){

	.features .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.features .grid li:last-child{
		margin-bottom: 0;
	}

}


@media (max-width: 600px){

	.features .grid li{
		flex-basis: 100%;
	}

}





/*---------------------
 	Contact Section
---------------------*/

.contact{
	background-color: #f7f7f7;
}

.contact form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	max-width: 800px;
	width: 80%;
}

.contact form input{
	padding: 15px;
	flex: 1;
	margin-right: 30px;
	font-size: 18px;
	color: #555;
}

.contact form .btn{
	padding: 18px 42px;
}


@media (max-width: 800px){

	.contact form input{
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}

}




/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 60px 0;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;
}

footer ul li:first-child{
	margin-left: 0;
}

footer ul li:last-child{
	margin-right: 0;
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}
