/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 16px;
	font-family: "Whitney SSm A", "Whitney SSm B";
	font-style: normal;
	font-weight: 400;
}
body{
	color: #000;
}
body.dark-theme{
	color: #999;
	background-color: #333;
}
h1, h2, h3 {
	font-weight: 600;
}
h1 {
	font-size: 2rem;
	margin-bottom: .5rem;
}
h2 {
	font-size: 1.625rem;
}
h3 {
	font-size: 1.375rem;
}
h4 {
	font-size: 1.25rem;
}
p, ul.text {
	font-size: 1.125rem;
	line-height: 1.725rem;
	margin: 1.5rem 0;
}
p.note {
	font-size: 1rem;
	line-height: 1.5rem;
	font-style: italic;
	font-weight: 300;
	color: #666;
}
@media (min-width: 600px){
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 2.25rem;
	}
	h3 {
		font-size: 1.75rem;
	}
	p, ul.text {
		font-size: 1.3125rem;
		line-height: 2rem;
		margin: 2rem 0;
	}
}

ul.text li {
	margin: 1.5rem 0;
	position: relative;
  padding-left: 1.5rem;
}

ul.text li:before {
	content: "";
  border-radius: 50%;
  border: 2px solid #19B5FE;
  width: 6px;
  height: 6px;
  display: block;
  position: absolute;
  top: 9px;
  left: 0;
  background-color: #19B5FE;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	color: #19B5FE;
}
p a, ul.text li a {
	border-bottom: 2px solid #eee;
}

a:hover{
	opacity: 0.9;
}

a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #19B5FE;
	font-weight: 800;
	text-align: center;
}




.gray {
	background-color: #f6f6f6;
}


ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/*-------------
 	Grid
-------------*/
hr{
	width: 80px;
	height: 4px;
	background-color: #19B5FE;
	border: 0;
	margin: .5rem auto 2rem;
}
section {
	padding: 2rem 1.5rem;
}

.container-960{
	max-width: 960px;
	margin: 0 auto;
}

.container-1280{
	max-width: 1280px;
	margin: 0 auto;
}

.flex-grid {
  display: block;
}
.col {
  margin: 2rem;
  flex: auto;
}


@media (min-width: 600px) {
	hr{
		width: 160px;
		height: 4px;
		background-color: #19B5FE;
		border: 0;
		margin: 2rem auto 4rem;
	}

	section {
		padding: 4rem 1.5rem;
	}

  .flex-grid {
    display: flex;
  }
  .col {
    margin: 2rem;
  }
  .full {
    flex: 1;
  }
  .one-two {
    flex: 1;
  }
  .one-three {
    flex: 1;
  }
  .two-three {
    flex: 2;
  }
  .one-four {
    flex: 1;
		background-color: #fff;
		height: 200px;
		padding: 1rem;
  }
  .two-four {
    flex: 2;
  }
  .three-four {
    flex: 2;
  }
}

/*-------------
 	Header
-------------*/

header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}



header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;
}

header nav li:last-child{
	margin-right: 0;
}



@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		flex-direction: column;
	}
}



/*----------------
 	Hero Section
----------------*/

.hero{
	position: relative;
	justify-content: center;
	min-height: 400px;
	color: #fff;
	text-align: center;
	padding-top: 160px;
}

.hero h4 {
	font-style: italic;
	font-weight: 300;
}

.short {
	background-color: #f6f6f6;
	color: #000;
	min-height: 50vh;
}

.hero .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
}

.hero .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.75;
}

@media (min-width: 800px){

	.hero{
		min-height: 100vh;
		padding-top: 40vh;
	}

}




/*-------------
 	Netspend Colors
-------------*/
.netspend .hero .background-image, .netspend .hero .background-image:after {
	background-color: #0092BC;
}
.netspend ul.text li:before {
	background-color: #0092BC;
	border: 2px solid #0092BC;
}
.netspend hr {
	background-color: #0092BC;
}
.netspend a {
	color: #0092BC;
}
