/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 16px;
	font-family: "Whitney SSm A", "Whitney SSm B";
	font-style: normal;
	font-weight: 400;
}
body{
	color: #000;
}
body.dark-theme{
	color: #999;
	background-color: #333;
}
h1, h2, h3, h4 {
	font-weight: 600;
	margin-bottom: 1rem;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.625rem;
}
h3 {
	font-size: 1.375rem;
}
h4 {
	font-size: 1.25rem;
}
p, ul.text {
	font-size: 1.125rem;
	line-height: 1.725rem;
	margin: 0 0 2rem;
}
p.caption {
	font-size: .875rem;
	line-height: 1.4rem;
	font-style: italic;
	font-weight: 300;
	color: #666;
}
@media (min-width: 600px){
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 2.25rem;
	}
	h3 {
		font-size: 1.75rem;
	}
	p, ul.text {
		font-size: 1.3125rem;
		line-height: 2rem;
		margin: 0 0 2rem;
	}
	p.caption {
		font-size: 1rem;
		line-height: 1.5rem;
		font-style: italic;
		font-weight: 300;
		color: #666;
	}
}

ul.text li {
	margin: 1.5rem 0;
	position: relative;
  padding-left: 1.5rem;
}

ul.text li:before {
	content: "";
  border-radius: 50%;
  border: 2px solid #19B5FE;
  width: 6px;
  height: 6px;
  display: block;
  position: absolute;
  top: 9px;
  left: 0;
  background-color: #19B5FE;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	color: #19B5FE;
	font-weight: 500;
}
p a, ul.text li a {
	border-bottom: 2px solid #eee;
}

a:hover{
	opacity: 0.9;
}


/*-------------
 	Grid
-------------*/
hr{
	display: block;
	border: 0;
	text-align: center;
	overflow: visible;
}
hr.section-divider:before {
	content: '...';
    display: inline-block;
    margin-left: .6em;
    color: #333;
    position: relative;
    top: -30px;
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: .6em;
}
section {

}
.gray {
	background-color: #eee;
}
.container, .container-960, .container-1280 {
	margin: 0 auto;
	padding: 2rem;
}
.container-960{
	max-width: 960px;
}
.container-1280{
	max-width: 1280px;
}
.flex-grid {
  display: block;
}
.col {
  margin: 2rem;
  flex: auto;
}

.projects .one-four, .projects .one-two {
	background-color: #fff;
	padding: 0;
	margin: 0;
}
.projects .one-four img {
	width: 100%;
	border-bottom: 1px solid #eee;
}

@media (min-width: 600px) {
	.projects .one-four {
		margin: 2rem;
}

@media (min-width: 600px) {
	hr{

	}

	section {

	}

  .flex-grid {
    display: flex;
  }
  .col {
    margin: 2rem;
  }
  .full {
    flex: 1;
  }
  .one-two {
    flex: 1;
  }
  .one-three {
    flex: 1;
  }
  .two-three {
    flex: 2;
  }
  .one-four {
    flex: 1;
  }
  .two-four {
    flex: 2;
  }
  .three-four {
    flex: 2;
  }
}

/*-------------
 	Header
-------------*/

header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;
}

header nav li:last-child{
	margin-right: 0;
}

@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}

@media (max-width: 700px){
	header{
		flex-direction: column;
	}
}


/*----------------
 	Hero Section
----------------*/

.hero{
	position: relative;
	justify-content: center;
	min-height: 400px;
	color: #fff;
	text-align: center;
	padding-top: 160px;
}

.hero h4 {
	font-style: italic;
	font-weight: 300;
}

.short {
	background-color: #f6f6f6;
	color: #000;
	min-height: 50vh;
}

.hero .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
}

.hero .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.75;
}

@media (min-width: 800px){

	.hero{
		min-height: 100vh;
		padding-top: 40vh;
	}

}

/*-------------
 	Work
-------------*/
.leadin {
	background-color: #f6f6f6;
	border-radius: 0px;
	margin-bottom: 2rem;
	padding: 1rem;
}
.leadin p {
	margin: 0;
}
.leadin img {
	width: 40px;
	border-radius: 8px;
	float: left;
	margin: .25rem 1rem .25rem 0;
}
.pl {
	width: 100%;
}
@media (min-width: 800px){
	.leadin {
		border-radius: 4px;
	}
	.leadin img {
		margin: .25rem 1rem 1rem 0;
	}
}


/*-------------
 	Netspend Colors
-------------*/
.netspend .hero .background-image, .netspend .hero .background-image:after {
	background-color: #0092BC;
}
.netspend ul.text li:before {
	background-color: #FF8200;
	border: 2px solid #FF8200;
}
.netspend a {
	color: #0092BC;
}
